@import url("hexagon.css");

:root {
	/* Change the size of the grid margin here (area between each hexagon) */
	--hex-grid-margin: .2em;
}

.hex-grid {
	position: absolute;
	float: left;
	padding: calc(var(--hex-height) / 2) var(--hex-radius);
	border: 3px solid #ccc;
	border-radius: .2em;
	background-color: #e6f2ff;
	pointer-events: none;
	line-height: 0;

	/* prevent highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
            supported by Chrome and Opera */
}

.hex-grid br {
	margin: 0;
	padding: 0;
	width: 0; height: 0;

}

.hex-grid ul {
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;
	float: left;
	background: none;
}

.hex-grid ul:nth-child(odd) {
	margin-top: calc((var(--hex-height) / 2) + (var(--hex-grid-margin) / 2));
}

.hex-grid li {
	margin: var(--hex-grid-margin) calc(var(--hex-grid-margin) / 2);
}

.hex-grid ul li:first-child {
	margin-top: 0;
}